.header{
    padding-top:10px;
}
#time-details{
    float: right;
}
body{
    width: 90vw;
    margin: 0 auto;
}
#time-details,#hello-user{
    display: inline-block;
}
input[type="radio"]:checked+.input-and-label{
background-color: grey;
}
/* .question-container{
    display: none;
} */
/* .previous-question:first-of-type,.next-question:last-of-type{
    background-color: red;
} */
